header{
color: #f7fbff;background-color: red;
text-align: center;
text-shadow: #121314;
font: 2em sans-serif;
font-size: larger;
}
main{

 color:white;background-color: #121314;
text-rendering: geometricPrecision;font-style: italic;
font-size: medium;
text-decoration: wavy;

}
footer{
color: #f8faf9;background-color: #0e6cc9;
}